
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
    max-width: 450px;
    width: calc(100% - 15px);
    z-index: 5000;
}

.header {
    border: 1px solid #ececec;
    padding: 15px 55px 15px;
    text-align: center;
}

.title {
    margin: 0;
}

.body {
    padding: 25px 25px;
}

.btnClose {
    position: absolute;
    right: 15px;
    top: 15px;
}